@import "_header.scss";
@import "_footer.scss";



body {
	background: #e4e4e4 url('..images/backgrounds/bg-page.jpg');
}

.wrapper {
	display: table;
	width: 100%;
	min-height: 100%;
	}

.page-container {
	display: table-row;
	height: 100%;
}

.container {
	margin: 0 auto;
	max-width: 940px;
	overflow: hidden;
}

.page-header {
	margin: 45px 0 35 px;
}

.box {
padding: 20px;
border: 1px

}

.sidebar {
	margin: 0 0 0 15px;
	
	float: right;
	width: 200px;
}

.font-size

.page

.box-item {
	.sub-heading {
	 margin: 0 0 7 px;
	 
	color: #f5b61a;
	font-weight: normal;
	font-size: 14px.


.wysiwyg {
	p {
		margin: 0
		color: #444
		
	}
	
}






