&-item {
	padding: 0 0 0 40px;
	display: inline-block;
	
	font-size:15px;
	line-height:1;
	
	&:first-child {
		padding-left: 0;
	}
}

&-link {
	color: inherit;
	text
	
}

.current-page {
	color: #f5b61a;
}

