<!doctype html>
<html ng-app='myApp'>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="main2.js"></script>
  </head>
  <body>
    <div>
      <div>
        <label>Name:</label>
        <input type="text" ng-model="yourName" placeholder="Enter a name here">
        </div>
       
        <label>Last Name:</label>
        <input type="text" ng-model="yourLastName" placeholder="Enter a Last name here">
     
      <hr>
      <h1>Hello {{yourName}}!</h1>
    </div>
    <div ng-controller="myController">
      <ul>
        <li ng-repeat="n in myData track by $index">{{n.Name}} {{n.lastName}}</li>
      </ul>
      <input type="text" ng-model="Name"></input>
      <input type="text" ng-model="lastName"></input>
      <button ng-click="addValue()">Add</button>
      <button ng-click="addValue()">Sort</button>
    </div>




  </body>
</html>

