

.wrapper {
	width: 1024px;
	height: 1365px;
	margin: auto;
	background-image: url('../images/background.jpg');
	

}

.logo {
	font-style: Regular;
	font-size: 88px;
	color: #c4c2c1;
	text-transform: capitalize;
	text-align: center;
	padding-top: 44px;
}

header {
	
	/*border: 1px solid #908d8a;*/
	height: 55px;
	margin: 13px 45px 15px;

	background-color: #ffffff;



}