body {
	font-size: 20px;
	text-align: center;
}

header {
	background-color: red;
	height: 100px;
}

 .wrapper {
 	overflow: hidden;
 	border-width: 1px;
 	border-style: solid;

 	/*display: table-row;*/
 }


.menu {
	background-color: yellow;
	height: 100px;
	float: left;
	display: hidden;
}

.news {
	background-color: grey;
	height: 200px;
	float: right;
}

main {
	background-color: green;
	height: 180px;
	text-transform: uppercase;
}

footer {
	background-color: black;
	height: 100px;
	color: white;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 90px;

	/*display: table;*/
	/*background-position: fixed;*/
}

.page {
	height: 100%;
}


/*.img {
	position: absolute;
	width: 150px;
	height: 90px;
	left:0px;
	bottom: 0px;
	visibility: hidden;
	display: none;

}

.clear {
	clear: both;
}

p {
	font-size: 15px;
}*/

